.Tile{
	background-color: #ace6ac; /* Green */
  	border: none;
  	color: #394039;
  	padding: 27px 15px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 40px;
  	margin: 6px;
  	width: 90px;
  	height: 90px;
}
.Tile:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}